<nav id="navigation-container">
    <section id="user-settings-link-container">
        <a href="/account/view">User Name</a>
    </section>
    <ul>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/tasks">Tasks</a>
        </li>
        <li>
            <a href="/achievements">Achievements</a>
        </li>
        <li>
            <a href="#">Coming Soon</a>
        </li>
        <li>
            <a href="#">Coming Soon</a>
        </li>
        <li>
            <a href="#">Coming Soon</a>
        </li>
        <li>
            <a href="#">Coming Soon</a>
        </li>
        <li>
            <a href="#">More</a>
        </li>
    </ul>

    <footer>
        <span>Made by Tyler Perata</span>
    </footer>
</nav>
