<nav id="navigation-container">
    <section id="user-settings-link-container">
        <a href="/account/view"><%=user.name%></a>
    </section>
    <ul class="navigation-list">
        <li class="nav-link-container" id="dashboard-link-container">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-link-container" id="tasks-link-container">
            <a href="/tasks">Tasks</a>
        </li>
        <li class="nav-link-container" id="filler1">
            <a href="/storagemanagement">Storage Management</a>
        </li>
        <li class="nav-link-container" id="filler2">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="filler3">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="filler4">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="achievements-link-container">
            <a href="/achievements">Achievements</a>
        </li>
        <li class="nav-link-container" id="filler5">
            <a href="#">More</a>
        </li>
    </ul>

    <footer>
        <span>Made by Tyler Perata</span>
    </footer>
</nav>
