<nav id="navigation-container">
    <section id="user-settings-link-container">
        <a href="/account/view"><%=user.name%></a>
    </section>
    <ul class="navigation-list">
        <li id="dashboard-link-container">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li id="tasks-link-container">
            <a href="/tasks">Tasks</a>
        </li>
        <li id="achievements-link-container">
            <a href="/achievements">Achievements</a>
        </li>
        <li id="filler">
            <a href="#">Coming Soon</a>
        </li>
        <li id="filler">
            <a href="#">Coming Soon</a>
        </li>
        <li id="filler">
            <a href="#">Coming Soon</a>
        </li>
        <li id="filler">
            <a href="#">Coming Soon</a>
        </li>
        <li id="filler">
            <a href="#">More</a>
        </li>
    </ul>

    <footer>
        <span>Made by Tyler Perata</span>
    </footer>
</nav>
