<nav class="navigation-container">
    <section class="user-card">
        <section class="user-welcome">
            <h2>Welcome,</h2>
            <h1><%= user.name %></h1>
        </section>
        <section class="user-options">

            <a href="/account/settings">View Account</a>

            <a href="/api/account/signout">Sign Out</a>

        </section>
    </section>
    <ul class="navigation-list">
        <li class="nav-link-container" id="dashboard-link-container">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-link-container" id="tasks-link-container">
            <a href="/tasks">Tasks</a>
        </li>
        <li class="nav-link-container" id="filler1">
            <a href="/storagemanagement">Storage Management</a>
        </li>
        <li class="nav-link-container" id="filler2">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="filler3">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="filler4">
            <a href="#">Coming Soon</a>
        </li>
        <li class="nav-link-container" id="achievements-link-container">
            <a href="/achievements">Achievements</a>
        </li>
        <li class="nav-link-container" id="filler5">
            <a href="#">More</a>
        </li>
    </ul>

    <footer>
        <span>Legal</span>
    </footer>
</nav>
