<header>
    <nav>
        <!--User info on top-->
        <!--Apps go here-->
        <ul>
            <li>Dashboard</li>
            <li>Tasks</li>
            <li>Achievements</li>
        </ul>

        <footer>
            <span>Made by Tyler Perata</span>
        </footer>
    </nav>
</header>