<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/tasks.css">
</head>
<body>
    
    <!--This is my first api display page. all pages will follow a similar structure, with a nav on the left and main area on the right. Each main will be the different code, all navs are same-->
    <header>

        <nav>
            <!--User Account and settings coming soon, basically after I get something functioning to test-->
            <ul>

                <li><a href="#">Home</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Achievements</a></li>

            </ul>

        </nav>

    </header>

    <main>

        <!--Need add task, and view tasks for now-->
        <div class="add-task-container">
            <div>
                <button name="add-task" id="add-task" type="menu">+</button>
            </div>
            <div class="hidden">
                <form action="/create/task" method="post">
                    <h2>Create New Task</h2>
                    <section>
                        <label for="task-name">Name:</label>
                        <input name="task-name" id="task-name" type="text" maxlength="50" required="true" placeholder="Enter name here">
                    </section>
                    <section>
                        <label for="task-description">Description:</label>
                        <input name="task-description" id="task-description" type="text" maxlength="100" required="false" placeholder="Optional">
                    </section>
                    <section>
                        <label for="task-start-time">Start Time:</label>
                        <input name="task-start-time" id="task-start-time" type="datetime-local" required="true">
                    </section>
                    <section>
                        <label for="task-end-time">End Time:</label>
                        <input name="task-end-time" id="task-end-time" type="datetime-local" required="false">
                    </section>
                    <section>
                        <label for="task-color">Color:</label>
                        <input name="task-color" id="task-color" type="color" required="false">
                    </section>
                    <section>
                        <button type="submit">Create Task</button>
                        <button type="reset">Clear Fields</button>
                    </section>
                </form>
            </div>
        </div>

        <section class="task-display">
            <% for(let i = 0; i < arr.size; ++i) { %>
                <section>
                    <ul>
                        <li>
                            <%= taskName %>
                        </li>
                        <li>
                            <%= taskDesc %>
                        </li>
                        <li>
                            <%= taskStart %>
                        </li>
                        <li>
                            <%= taskEnd %>
                        </li>
                    </ul>
                </section>
            <% } %>    
        </section>

    </main>

</body>
</html>