<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/tasks.css">
</head>
<body>

    <!-- Navigation element -->
    <%- include("./partials/navbar.ejs") %>

    <!-- Title & info section for current app -->
    <header>
        <h1>Dashboard</h1>
    </header>

    <section id="options">

        <!-- DONE -->

        <!-- Menu bar for sorting, filtering -->
        <section>
            <select id="sort">
                <option value="sd-as">Start Date: Ascending</option>
                <option value="sd-de">Start Date: Descending</option>
                <option value="ed-as">End Date: Ascending</option>
                <option value="ed-de">End Date: Descending</option>
                <option value="n-as">Name: Ascending</option>
                <option value="n-de">Name: Descending</option>
            </select>
        </section>
        <!-- DONE -->
    </section>

    <main>

        <!--Idea: Main shows the highest existing system by default (ie, shows units, if no units then containers, if no containers then items, easy with ejs templates)-->

    </main>
</body>
</html>
    
</body>
</html>