<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/tasks.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
</head>
<body>

    <!-- Navigation element -->
    <%- include("./partials/navbar.ejs") %>

    <!-- Title & info section for current app -->
    <header>
        <h1>Dashboard</h1>
    </header>

    <section id="options">
        <div></div>
        <!-- DONE -->

        <!-- Menu bar for sorting, filtering -->
        <section>
            <select id="sort">
                <option value="sd-as">Start Date: Ascending</option>
                <option value="sd-de">Start Date: Descending</option>
                <option value="ed-as">End Date: Ascending</option>
                <option value="ed-de">End Date: Descending</option>
                <option value="n-as">Name: Ascending</option>
                <option value="n-de">Name: Descending</option>
            </select>
        </section>
        <!-- DONE -->
    </section>

    <main>

        <!--Idea: Main shows the highest existing system by default (ie, shows units, if no units then containers, if no containers then items, easy with ejs templates)-->

    </main>
</body>
</html>
    
</body>
</html>