<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/signin.css">
</head>
<body>
    
    <main>
        <h1>Sign In</h1>

        <form action="./user/signin" method="post" id="signin-form">
            <section>
                <label for="email">Email</label>
                <input type="email" id="email field" name="email" placeholder="Email" required autocomplete="email">
            </section>
            <section>
                <label for="password">Password</label>
                <input type="password" id="passwordField" name="password" placeholder="Password" required autocomplete="new-password">
            </section>
            <section>
                <button type="submit">Sign In</button>
            </section>
        </form>

        <p>Don't have an account? <a href="/signup">Register here</a></p>
    </main>
     
</body>
</html>