<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    
    <main>
        <h1>Sign Up</h1>

        <section>
            <form action="/api/account/create" method="post" id="signup-form">

                <p>All fields required</p>

                <section class="field-container">
                    <label for="username">Name:</label>
                    <ul class="field-info-container username-constraints hidden">
                        <li>
                            <div class="confirmation-icon confirmation-warning"></div>
                            <p class="constraint">Can be reused</p>
                        </li>
                    </ul>
                    <input type="text" id="usernameField" name="username" placeholder="Name" required>
                </section>
                <section class="field-container">
                    <label for="email">Email:</label>
                    <ul class="field-info-container email-constraints hidden">
                        <li>
                            <div class="confirmation-icon confirmation-warning"></div>
                            <p class="constraint">Must be unique</p>
                        </li>
                    </ul>
                    <input type="email" id="emailField" name="email" placeholder="Email" required >
                </section>
                <section class="field-container">
                    <label for="password">Password:</label>
                    <ul class="field-info-container password-constraints hidden">
                        <li>
                            <div class="confirmation-icon"></div>
                            <p class="constraint">Must be at least 8 characters</p>
                        </li>
                    </ul>
                    <input type="password" id="passwordField" name="password" placeholder="Password" required  minlength="8">
                </section>
                <section class="field-container">
                    <label for="passwordConf">Confirm Password:</label>
                    <ul class="field-info-container password-conf-constraints hidden">
                        <li>
                            <div class="confirmation-icon"></div>
                            <p class="constraint">Passwords must match</p>
                        </li>
                    </ul>
                    <input type="password" id="passwordConfField" name="passwordConf" placeholder="Re-enter password" required>
                </section>
                <section>
                    <button id="submitButton" type="submit">Sign Up</button>
                </section>
            </form>
            <p>Already have an account? <a href="/user/signin">Log in here</a></p>
        </section>
    </main>
     

<script src="/js/signup.js"></script>   
</body>
</html>