<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/task-card.css">
    <link rel="stylesheet" href="css/tasks.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

</head>
<body>

    <!-- Navigation element -->
    <%- include("./partials/navbar.ejs") %>

    <!-- Title & info section for current app -->
    <header>
        <h1>Tasks</h1>
    </header>

    <section id="options">
        <!-- Content for the add task menu -->
        <div class="add-task-container">
                <button name="add-task" id="add-task" type="menu">Create New Task</button>
                <div id="add-task-menu" class="hidden">
                    <form action="/api/task/create" method="post">
                        <h2>Create New Task</h2>
                        <section>
                            <label for="task-name">Name:</label>
                            <input name="taskName" id="task-name" type="text" maxlength="50" placeholder="Enter name here" required>
                        </section>
                        <section>
                            <label for="task-description">Description:</label>
                            <input name="taskDescription" id="task-description" maxlength="250" type="text" placeholder="Optional">
                        </section>
                        <section>
                            <label for="task-start-time">Start Time:</label>
                            <input name="taskStartTime" id="task-start-time" type="datetime-local" required>
                        </section>
                        <section>
                            <label for="task-end-time">End Time:</label>
                            <input name="taskEndTime" id="task-end-time" type="datetime-local" required>
                        </section>
                        <section>
                            <label for="task-color">Color:</label>
                            <input name="taskColor" id="task-color" type="color">
                        </section>
                        <section class="form-button-container">
                            <button type="submit">Create Task</button>
                            <button type="reset">Clear Fields</button>
                        </section>
                    </form>
                </div>
        </div>
        <!-- DONE -->

        <!-- Menu bar for sorting, filtering -->
        <section>
            <select id="sort">
                <option value="sd-as">Start Date: Ascending</option>
                <option value="sd-de">Start Date: Descending</option>
                <option value="ed-as">End Date: Ascending</option>
                <option value="ed-de">End Date: Descending</option>
                <option value="n-as">Name: Ascending</option>
                <option value="n-de">Name: Descending</option>
            </select>
        </section>
        <!-- DONE -->
    </section>

    <main>

        <!-- Area that displays a user's tasks, or a message that they don't have any -->
        <section id="task-display">

            <% if(!tasks) { %> 
                <h2>No tasks</h2>
            <% } else { %>

                <%- include("./partials/task-card.ejs") %>

            <% } %> 

        </section>

    </main>
<script src="/js/tasks.js"></script>
</body>
</html>