<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/tasks.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    
    <!--This is my first api display page. all pages will follow a similar structure, with a nav on the left and main area on the right. Each main will be the different code, all navs are same-->
    <header>

        <nav>
            <!--User Account and settings coming soon, basically after I get something functioning to test-->
            <ul>

                <li><a href="#">Home</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Achievements</a></li>

            </ul>

        </nav>

    </header>

    <main>

        <!--Need add task, and view tasks for now-->
        <div class="add-task-container">
            <div>
                <button name="add-task" id="add-task" type="menu">+</button>
            </div>
            <div id="add-task-menu" class="hidden">
                <form action="/create/task" method="post">
                    <h2>Create New Task</h2>
                    <section>
                        <label for="task-name">Name:</label>
                        <input name="taskName" id="task-name" type="text" maxlength="50" required="true" placeholder="Enter name here">
                    </section>
                    <section>
                        <label for="task-description">Description:</label>
                        <input name="taskDescription" id="task-description" type="text" maxlength="100" required="false" placeholder="Optional">
                    </section>
                    <section>
                        <label for="task-start-time">Start Time:</label>
                        <input name="taskStartTime" id="task-start-time" type="datetime-local" required="true">
                    </section>
                    <section>
                        <label for="task-end-time">End Time:</label>
                        <input name="taskEndTime" id="task-end-time" type="datetime-local" required="false">
                    </section>
                    <section>
                        <label for="task-color">Color:</label>
                        <input name="taskColor" id="task-color" type="color" required="false">
                    </section>
                    <section>
                        <button type="submit">Create Task</button>
                        <button type="reset">Clear Fields</button>
                    </section>
                </form>
            </div>
        </div>

        <section class="task-display">
            <h1>Tasks</h1>
            <% for(let i = 0; i < info.length; ++i) { %>
                <section>
                    <ul>
                        <li>
                            <span><%= info[i].name %></span>
                        </li>
                        <li>
                            <span><%= info[i].description %></span>
                        </li>
                        <li>
                            <span>Starts: <%= info[i].startTime %></span>
                        </li>
                        <li>
                            <span>Ends :<%= info[i].endTime %></span>
                        </li>
                    </ul>
                    <div>
                        <button>Delete</button>
                    </div>
                </section>
            <% } %>    
        </section>

    </main>
<script src="js/tasks.js"></script>
</body>
</html>