* {
    box-sizing: border-box;
}

body {
    display: grid;

    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 4fr;
}

#navigation-container > ul {
    display: grid;

    grid-template-rows: 2fr repeat(10, 1fr);
}

#navigation-container {
    border: 1px solid;
    grid-area: 1 / 1 / 3 / 2;

    height: 100vh;
}

header {
    border: 1px solid red;
    grid-area: 1 / 2 / 2 / 3
}

main {
    border: 1px solid blue;
    grid-area: 2 / 2 / 3 / 3;
}

.hidden {
    display: none;
}

.activated {
    
}